/* Small Screens */
@media screen and (max-width:480px) {

    #larger-screen-nav {
        display: none;
    }

    #smaller-screen-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 100%;
        padding-left: .5rem;
    }

    .fa-bars {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    /* Homepage */
    #home-banner {
        height: 31.25rem;
    }

    #home-banner h1 {
        font-size: 3.75rem;
    }

    #home-banner a:hover {
        color: #cedebd;
    }

    #instagram-link .section-title {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-text {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    #home-photos {
        grid-template-columns: 100%;
    }

    /* Homepage Product Listings */
    #home-productlistings {
        display: none;
    }

    #home-listing1,
    #home-listing2,
    #home-listing3 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
    }

    .home-teacupsimage {
        grid-column: 1 / 5;
        height: 18.75rem;
        background-image: url(Images/home-teacup.png);
        background-size: 12.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: .09375rem solid #674F44;
    }

    .home-teacupsimage:hover {
        background-image: url(Images/teacup-hover.gif);
        background-size: 20rem;
        background-color: #e9e0d7;
    }

    .home-teacupsinfo {
        grid-column: 1 / 3;
        height: 6.25rem;
    }

    .home-teacupsbutton {
        grid-column: 3 / 5;
        height: 6.25rem;
    }

    .home-platesimage {
        grid-column: 1 / 5;
        height: 18.75rem;
        background-image: url(Images/home-plates.png);
        background-size: 18.75rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: .09375rem solid #674F44;
    }

    .home-platesimage:hover {
        background-image: url(Images/plates-hover.gif);
        background-size: 26.25rem;
        background-color: #e9e0d7;
    }

    .home-platesinfo {
        grid-column: 1 / 3;
        height: 6.25rem;
    }

    .home-platesbutton {
        grid-column: 3 / 5;
        height: 6.25rem;
    }

    .home-cliffhandleimage {
        grid-column: 1 / 5;
        height: 18.75rem;
        background-image: url(Images/home-cliffhandle.png);
        background-size: 12.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: .09375rem solid #674F44;
    }

    .home-cliffhandleimage:hover {
        background-image: url(Images/cliff-hover.gif);
        background-size: 20rem;
        background-color: #e9e0d7;
    }

    .home-cliffhandleinfo {
        grid-column: 1 / 3;
        height: 6.25rem;
    }

    .home-cliffhandlebutton {
        grid-column: 3 / 5;
        height: 6.25rem;
    }

    /* About Page */
    #about-page {
        display: block;
    }

    #about-photo1 {
        height: 18.75rem;
    }

    #about-text {
        height: 31.25rem;
    }

    #about-text p {
        width: 15.625rem;
    }

    #about-photo2,
    #about-photo3,
    #about-photo4 {
        height: 12.5rem;
    }

    .faq-width p,
    .faq-width h2 {
        width: 15.625rem;
    }

    .section-title {
        height: 3.125rem;
    }

    #faq {
        margin-top: 3.125rem;
    }

    #faq-margin {
        margin-top: 6.875rem;
    }

    /* Teacup Page */
    #product-page {
        grid-template-columns: 100%
    }

    #product-photos {
        height: 50vh;
    }

    #product-info {
        height: 56.25rem
    }
}

/* Small Screens */
@media screen and (min-width:481px) and (max-width:900px) {

    #larger-screen-nav {
        display: none;
    }

    #smaller-screen-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 100%;
        padding-left: .5rem;
    }

    .fa-bars {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    /* Homepage */
    #home-banner {
        height: 31.25rem;
    }

    #home-banner a:hover {
        color: #cedebd;
    }

    #instagram-link .section-title {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-text {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    #home-photos {
        grid-template-columns: 100%;
    }

    /* Homepage Product Listings */
    #home-productlistings {
        display: none;
    }

    #home-listing1,
    #home-listing2,
    #home-listing3 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
    }

    .home-teacupsimage {
        grid-column: 1 / 5;
        height: 18.75rem;
        background-image: url(Images/home-teacup.png);
        background-size: 12.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: .09375rem solid #674F44;
    }

    .home-teacupsimage:hover {
        background-image: url(Images/teacup-hover.gif);
        background-size: 20rem;
        background-color: #e9e0d7;
    }

    .home-teacupsinfo {
        grid-column: 1 / 3;
        height: 6.25rem;
    }

    .home-teacupsbutton {
        grid-column: 3 / 5;
        height: 6.25rem;
    }

    .home-platesimage {
        grid-column: 1 / 5;
        height: 18.75rem;
        background-image: url(Images/home-plates.png);
        background-size: 18.75rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: .09375rem solid #674F44;
    }

    .home-platesimage:hover {
        background-image: url(Images/plates-hover.gif);
        background-size: 26.25rem;
        background-color: #e9e0d7;
    }

    .home-platesinfo {
        grid-column: 1 / 3;
        height: 6.25rem;
    }

    .home-platesbutton {
        grid-column: 3 / 5;
        height: 6.25rem;
    }

    .home-cliffhandleimage {
        grid-column: 1 / 5;
        height: 18.75rem;
        background-image: url(Images/home-cliffhandle.png);
        background-size: 12.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        border: .09375rem solid #674F44;
    }

    .home-cliffhandleimage:hover {
        background-image: url(Images/cliff-hover.gif);
        background-size: 20rem;
        background-color: #e9e0d7;
    }

    .home-cliffhandleinfo {
        grid-column: 1 / 3;
        height: 6.25rem;
    }

    .home-cliffhandlebutton {
        grid-column: 3 / 5;
        height: 6.25rem;
    }

    /* About Page */
    #about-page {
        display: block;
    }

    #about-photo1 {
        height: 18.75rem;
    }

    #about-text {
        height: 31.25rem;
    }

    #about-photo2,
    #about-photo3,
    #about-photo4 {
        height: 12.5rem;
    }

    .faq-width p,
    .faq-width h2 {
        width: 28.125rem;
    }

    .section-title {
        height: 3.125rem;
    }

    #faq {
        margin-top: 3.125rem;
    }

    #faq-margin {
        margin-top: 6.875rem;
    }

    /* Teacup Page */
    #product-page {
        grid-template-columns: 100%
    }

    #product-photos {
        height: 50vh;
    }

    #product-info {
        height: 56.25rem
    }

    main {
        grid-template-columns: 100%
    }
}

/* Larger Screens */
@media screen and (min-width:901px) {

    #smaller-screen-nav {
        display: none;
    }

    #teacups-footer {
        display: none;
    }

    #home-smallscreen-productlistings {
        display: none;
    }

}