/* === For your Responsive CSS === */

img {
    max-width: 100%;
}

@media screen and (max-width:600px) {
    header {
        grid-template-columns: 100%;
    }

    #nav a {
        display: block;
        background-color: palegoldenrod;
        text-align: center;
        padding: .75rem;
    }

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .75rem;
    }

    main {
        grid-template-columns: 100%;
        text-align: center;
    }

    #splash {
        font-size: 2rem;
        line-height: 2.5rem;
        height: 10.7rem;
        grid-column: 1/2;
    }

    #app {
        grid-column: 1/2;
    }

    footer,
    #social-media {
        grid-template-columns: 100%;
        text-align: center;
    }

    #mobile-menu {
        position: fixed;
        top: .625rem;
        right: .625rem;
    }
}

@media screen and (min-width:601px) {
    #mobile-menu {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222831;
        color: #eee;
    }

    main {
        background-color: #393E46;
    }

    #nav a {
        background-color: #393E46;
    }
}